<table>
   <tr>
      <th>Nome</th>
      <th>CPF</th>
      <th>e-mail</th>
      <th>Login do Github</th>
      <th>Requisitos</th>
      <th>Gerência de Configuração</th>
      <th>Testes</th>
      <th>Gerência de Projetos</th>
   </tr>
   <tr *ngFor="let a of alunos">
      <td>{{a.nome}}</td>
      <td>{{a.cpf}}</td>
      <td>{{a.email}}</td>
      <td>{{a.github_login}}</td>
      <td class="meta"><input [(ngModel)]="a.metas['requisitos']" (change)="atualizarAluno(a)"></td>
      <td class="meta"><input [(ngModel)]="a.metas['gerDeConfiguracao']" (change)="atualizarAluno(a)"></td>
      <td class="meta"><input [(ngModel)]="a.metas['testes']" (change)="atualizarAluno(a)"></td>
      <td class="meta"><input [(ngModel)]="a.metas['getDeProjetos']" (change)="atualizarAluno(a)"></td>
   </tr>
</table>